<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <div class="form-group">
        <label for="amount">Amount</label>
        <input id="amount" [formControl]="amount" placeholder="Amount" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('amount').touched && form.get('amount').hasError('required')">Amount is required</small>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input [formControl]="description" id="description" placeholder="Description" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('description').touched && form.get('description').hasError('required')">Description is required</small>
      </div>
      <div class="form-group">
        <button [disabled]="!form.valid" class="btn btn-success btn-block" type="submit">Generate Voucher</button>
      </div>
    </form>
  </div>
</div>