<div class="row">
  <div class="col-12 mb-4">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Payments</h5>
      </div>
      <div *ngIf="loading">
        <h6 class="text-center">Please wait while we get the data</h6>
      </div>
      <div *ngIf="!loading" class="card-body pt-0 widget-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <!-- <th>Client Name</th> -->
                <th>Merchant Name</th>
                <th>Voucher Code</th>
                <th>Item </th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of payments">
                <!-- <td>{{p.client.name}}</td> -->
                <td>{{p.merchant.name}}</td>
                <td>{{p.voucher.code}}</td>
                <td>{{p.itemBought}}</td>
                <td>{{p.quantity}}</td>
                <td>{{p.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>