<div class="row">
  <div class="col-12 mb-4">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Registered Users</h5>
      </div>
      <div *ngIf="loading">
        <h6 class="text-center">Please wait while we get the data</h6>
      </div>
      <div *ngIf="!loading" class="card-body pt-0 widget-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>User Id</th>
                <th>Activated</th>
                <th>Account Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of users">
                <td>{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.id}}</td>
                <td>{{u.enabled}}</td>
                <td>{{u.accountNumber}}</td>
                <td>
                  <button (click)="activateUser(u.id)" class="btn btn-primary">Enable</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>