<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <div class="form-group">
        <label for="voucher">Voucher Code</label>
        <input id="voucher" [formControl]="voucherCode" placeholder="Voucher code" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('voucherCode').touched && form.get('voucherCode').hasError('required')">Code is required</small>
      </div>
      <div class="form-group">
        <button [disabled]="!form.valid" class="btn btn-success btn-block" type="submit">Verify Voucher</button>
      </div>
    </form>
  </div>
</div>