<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <div class="form-group">
        <label for="itemBough ">Item Bought</label>
        <input id="itemBought" [formControl]="itemBought" placeholder="Item Bought" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('itemBought').touched && form.get('itemBought').hasError('required')">Item is required</small>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input [formControl]="price" id="price" placeholder="Price" class="form-control" type="number">
        <small class="text-danger" *ngIf="form.get('price').touched && form.get('price').hasError('required')">Price is required</small>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input [formControl]="quantity" id="quantity" placeholder="Quantity" class="form-control" type="number">
        <small class="text-danger" *ngIf="form.get('quantity').touched && form.get('quantity').hasError('required')">Quantity is required</small>
      </div>
      <div class="form-group">
        <label for="clientAccountNumber">Customer Account Number</label>
        <input [formControl]="clientAccountNumber" id="clientAccountNumber" placeholder="Customer Account Number" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('clientAccountNumber').touched && form.get('clientAccountNumber').hasError('clientAccountNumber')">Account Number is required</small>
      </div>
      <div class="form-group">
        <label for="price">Voucher Code</label>
        <input [formControl]="voucherCode" id="voucherCode" placeholder="Voucher Code" class="form-control" type="text">
        <small class="text-danger" *ngIf="form.get('voucherCode').touched && form.get('voucherCode').hasError('required')">Price is required</small>
      </div>
      <div class="form-group">
        <button [disabled]="!form.valid" class="btn btn-success btn-block" type="submit">Initiate Payment</button>
      </div>
    </form>
  </div>
</div>